.download-btn {
    background-color: #3498db; /* Adjust background color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  .design-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust spacing between images */
  }
  
  .design-gallery img {
    width: 300px; /* Adjust image width as needed */
    margin: 10px; /* Adjust image margin as needed */
  }
